# {{ milestone_name }}

## Supported CloudVision version:

- 2018.2.5
- 2019.1
- 2020.1
- 2020.2
- Cloudvision as a Service

> Download Cloudvision appliance: [Arista website](https://www.arista.com/en/support/software-download)

## Fixed issues

{% for pr in milestone_json['items'] %}
{%    for pr_label in pr['labels'] %}
{%        if "bug" in pr_label['name'] %}
- {{ pr['title'] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Enhancements

{% for pr in milestone_json['items'] %}
{%    for pr_label in pr['labels'] %}
{%        if "enhancement" in pr_label['name'] %}
- {{ pr['title'] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Documentation updates

{% for pr in milestone_json['items'] %}
{%    for pr_label in pr['labels'] %}
{%        if "documentation" in pr_label['name'] %}
- {{ pr['title'] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Contributors

{% for user in contributors %}
@{{ user }}
{% endfor %}