# {{ milestone_name }}

## Supported CloudVision version:

- On premise version higher than 2018.2.5
- Cloudvision as a Service

> Download Cloudvision appliance: [Arista website](https://www.arista.com/en/support/software-download)

## Fixed issues

{% for pr in milestone_json['items'] %}
{%    for pr_label in pr['labels'] %}
{%        if "bug" in pr_label['name'] %}
- {{ pr['title'][0]|upper}}{{pr['title'][1:] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Enhancements

{% for pr in milestone_json['items'] %}
{%    for pr_label in pr['labels'] %}
{%        if "enhancement" in pr_label['name'] %}
- {{ pr['title'][0]|upper}}{{pr['title'][1:] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Documentation updates

{% for pr in milestone_json['items'] %}
{%    set temp_var = namespace() %}
{%    set temp_var.is_doc_only = true %}
{%    for pr_label in pr['labels'] %}
{%      if "cv_" in pr_label['name'] %}
{%        set temp_var.is_doc_only = false %}
{%      endif %}
{%    endfor %}
{%    for pr_label in pr['labels'] %}
{%        if "documentation" in pr_label['name'] and temp_var.is_doc_only %}
- {{ pr['title'][0]|upper}}{{pr['title'][1:] }} (#{{ pr['number'] }})
{%        endif %}
{%     endfor %}
{% endfor %}

## Contributors

{% for user in contributors %}
@{{ user }}
{% endfor %}
